<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg8Iy26fJU20t1ZbMwe5411X0FF9kS4n8</string>
	<key>GCM_SENDER_ID</key>
	<string>398902759740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.parkit</string>
	<key>PROJECT_ID</key>
	<string>park-i-t-c4s9f4</string>
	<key>STORAGE_BUCKET</key>
	<string>park-i-t-c4s9f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398902759740:ios:91a327f563c8f4f8ca4e39</string>
	<key>DATABASE_URL</key>
	<string>https://park-i-t-c4s9f4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>